body {
    padding-top: 68px;
    padding-bottom: 50px;
}

.image-container {
    margin-top:2.5rem;
    position: relative;
    width: 18%;
}

.image {
    opacity: 1;
    display: block;
    /* width: 100%; */
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

.wrapper {
    margin-top: 3%;
    margin-left: 20%;
}

.studentName {
    margin-top: 1.5rem;
    margin-left: 5rem;
}

.studentIcon {
    margin-top: 1.5rem;
    margin-left: 20rem;
}

.card-wrapper {
    margin-right: 1.0rem;
    margin-left: 4rem;
    width: 80%;
}

.informations{
    margin-top: 1.5rem;
    width: 80%;
}

.profesorIcon {
    margin-top: 1.5rem;
    margin-left: 30rem;
    margin-bottom:2rem;
}

.spinner{
    margin-top:250px;
      margin-left:30%;
  }

  .row{
      width:90%;
  }