<div style="margin-top: 20%">
  <div class="green-panel">
    <div>
      <img
        src="assets/images/elearning (1).png"
        width="320"
        height="270"
        style="margin-left: 50%; margin-top: 8%"
      />
    </div>

    <div
      class="white-panel"
      [ngClass]="{ shakeit: invalidCredentials === 'true' }"
    >

      <div>
 
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="imgcontainer">
            <img
              src="assets/images/users-remove.png"
              width="180"
              height="160"
              style="margin-left: 10%; margin-top: 10%; margin-bottom: 6%"
            />
          </div>

          <div class="container">
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input
                id="email"
                class="input-field"
                type="text"
                formControlName="email"
                placeholder="Username"
                name="email"
              />
            </div>

            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input
                id="password"
                class="input-field"
                type="password"
                formControlName="password"
                placeholder="Password"
              />
            </div>

            <button
              [disabled]="loading"
              class="button"
              type="submit"
              id="submit"
            >
              <span>Login </span>
            </button>
            <br />
            <label>
              <input #checkbox  type="checkbox" [checked]="remember" (change)="onChange(checkbox.checked)"/>
              Remember me
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
