.first {
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 50px;

}

.curs {
  margin-left: 10rem;

}


a:link {
  color: black;
}

a {
  color: black;
}

html
{
  height: 100%;
}

.linksContainer{
  margin-left: 150px;
}