<app-navigation-bar></app-navigation-bar>

<h1 class="first">{{ disciplinaName }} {{ disciplina.abreviere }}</h1>
<mat-tab-group mat-align-tabs="center" class="first" animationDuration="1000ms">
  <mat-tab label="Cursuri">
    <div class="curs">
      <h3>Cursuri</h3>
      <br />
      <img src="assets/images/pdf.png" alt="Pdf icon" width="30" height="30" />
      <a
        href="http://localhost:8080/api/licenta/fileStorage/Arbori%20binari%20-%20operatii.pdf"
        target="_blank"
        >Curs 1</a
      >
      <br />
      <img src="assets/images/pdf.png" alt="Pdf icon" width="30" height="30" />

      <a
        href="http://localhost:8080/api/licenta/fileStorage/Arbori%20binari%20-%20operatii.pdf"
        target="_blank"
        >Curs 2</a
      >
      <br />
      <img src="assets/images/pdf.png" alt="Pdf icon" width="30" height="30" />

      <a
        href="http://localhost:8080/api/licenta/fileStorage/Arbori%20binari%20-%20operatii.pdf"
        target="_blank"
        >Curs 3</a
      >
      <hr />
    </div>
    <div class="curs">
      <h3>Laboratoare</h3>
      <hr />
      <br />
      <img src="assets/images/pdf.png" alt="Pdf icon" width="30" height="30" />
      <a
        href="http://localhost:8080/api/licenta/fileStorage/Arbori%20binari%20-%20operatii.pdf"
        target="_blank"
        >Labortor 1</a
      >
      <br />
      <img src="assets/images/pdf.png" alt="Pdf icon" width="30" height="30" />

      <a
        href="http://localhost:8080/api/licenta/fileStorage/Arbori%20binari%20-%20operatii.pdf"
        target="_blank"
        >Labortor 2</a
      >
      <br />
      <img src="assets/images/pdf.png" alt="Pdf icon" width="30" height="30" />

      <a
        href="http://localhost:8080/api/licenta/fileStorage/Arbori%20binari%20-%20operatii.pdf"
        target="_blank"
        >Labortor 3</a
      >
    </div>
  </mat-tab>
  <mat-tab label="Prezente">
    <button mat-button id="recuperare" (click)="recuperare()">
      Recuperare
    </button>
    <app-student-table [childToMaster]="disciplinaName"></app-student-table>
  </mat-tab>
  <mat-tab label="Detalii disciplina si anunturi">
    <mat-grid-list cols="3" rowHeight="450px">
      <mat-grid-tile>
        <div
          class="card text-dark teal lighten-3 mb-3"
          style="max-width: 25rem"
        >
          <h4 class="card-header">Anunturi</h4>
          <div class="card-body">
            <h5 class="card-title">Something</h5>
            <p class="card-text">Something Something</p>
            <h5 class="card-title">Something</h5>
            <p class="card-text">Something Something</p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card text-dark bg-light mb-3" style="max-width: 25rem">
          <h4 class="card-header">Profesori</h4>
          <div class="card-body">
            <h5 class="card-title">Profesor curs: {{ profesorCurs.nume }}</h5>
            <p class="card-text">Email: {{ profesorCurs.email }}</p>
            <h5 class="card-title">
              Profesor laborator: {{ profesorLab.nume }}
            </h5>
            <p class="card-text">Email: {{ profesorLab.email }}</p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div
          class="card text-dark bg-light mb-3"
          style="max-width: 25rem;margin left:20rem"
        >
          <h4 class="card-header">Evaluare</h4>
          <div class="card-body">
            <h5 class="card-title">
              Pondere examen: {{ procents.pondere_examen }}%
            </h5>
            <p class="card-text">Nota obtinuta:</p>
            <h5 class="card-title">
              Pondere laborator: {{ procents.pondere_lab }}%
            </h5>
            <p class="card-text">Nota obtinuta:</p>
            <h5 class="card-title">
              Pondere partial: {{ procents.pondere_partial }}%
            </h5>
            <p class="card-text">Nota obtinuta:</p>
            <h5 class="card-title">
              Pondere proiect: {{ procents.pondere_proiect }}%
            </h5>
            <p class="card-text">Nota obtinuta: -</p>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
