.first {
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 50px;

}

.curs {
  margin-left: 10rem;

}


a:link {
  color: black;
}

a {
  color: black;
}

html
{
  height: 100%;
}

.linksContainer{
  margin-left: 150px;
}

.spinner{
  margin-top:400px;
    margin-left:40%;
}

  
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-column-position {
  max-width: 100px;
}

.mat-column-name {
  max-width: 100px;
}