<app-navigation-bar></app-navigation-bar>

<h1 class="first">{{ disciplinaName }} {{ disciplina.abreviere }}</h1>
<mat-tab-group mat-align-tabs="center" class="first" animationDuration="1000ms">
  <mat-tab label="Cursuri">
    <div class="curs">
      <h3 style="margin-top: 30px">Cursuri</h3>
      <br />
      <div class="linksContainer">
        <div *ngFor="let element of fisiereCurs">
          <img
            src="assets/images/pdf.png"
            alt="Pdf icon"
            width="30"
            height="30"
            style="margin-right: 20px; margin-bottom: 10px"
          />
          <a href="{{ element.path }}" target="_blank">{{
            getFileName(element.path)
          }}</a>
          <br />
          <p>{{ element.descriere }}</p>
        </div>
      </div>
      <hr />
    </div>
    <div class="curs">
      <h3>Laboratoare</h3>
      <hr />
      <br />
      <div class="linksContainer">
        <div *ngFor="let element of fisiereLaborator">
          <img
            src="assets/images/pdf.png"
            alt="Pdf icon"
            width="30"
            height="30"
            style="margin-right: 20px; margin-bottom: 10px"
          />
          <a href="{{ element.path }}" target="_blank">{{
            getFileName(element.path)
          }}</a>
          <br />
          <p>{{ element.descriere }}</p>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Prezente">
    <div class="example-button-container">
      <button mat-button style="background-color: red;color:white" (click)="recuperare()">
        Recuperare<mat-icon style="margin-left: 10px">email icon</mat-icon>
      </button>
    </div>

    <app-student-table [childToMaster]="disciplinaName"></app-student-table>
  </mat-tab>
  <mat-tab label="Detalii disciplina si anunturi">
    <mat-grid-list cols="3" rowHeight="450px">
      <mat-grid-tile>
        <div
          class="card text-dark teal lighten-3 mb-3"
          style="max-width: 25rem"
        >
          <h4 class="card-header">Anunturi</h4>
          <div class="card-body">
            <h5 class="card-title">Something</h5>
            <p class="card-text">Something Something</p>
            <h5 class="card-title">Something</h5>
            <p class="card-text">Something Something</p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card text-dark bg-light mb-3" style="max-width: 25rem">
          <h4 class="card-header">Profesori</h4>
          <div class="card-body">
            <h5 class="card-title">Profesor curs: {{ profesorCurs.nume }}</h5>
            <p class="card-text">Email: {{ profesorCurs.email }}</p>
            <h5 class="card-title">
              Profesor laborator: {{ profesorLab.nume }}
            </h5>
            <p class="card-text">Email: {{ profesorLab.email }}</p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div
          class="card text-dark bg-light mb-3"
          style="max-width: 25rem;margin left:20rem"
        >
          <h4 class="card-header">Evaluare</h4>
          <div class="card-body">
            <h5 class="card-title">
              Pondere examen: {{ procents.pondere_examen }}%
            </h5>
            <p class="card-text">Nota obtinuta:</p>
            <h5 class="card-title">
              Pondere laborator: {{ procents.pondere_lab }}%
            </h5>
            <p class="card-text">Nota obtinuta:</p>
            <h5 class="card-title">
              Pondere partial: {{ procents.pondere_partial }}%
            </h5>
            <p class="card-text">Nota obtinuta:</p>
            <h5 class="card-title">
              Pondere proiect: {{ procents.pondere_proiect }}%
            </h5>
            <p class="card-text">Nota obtinuta: -</p>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
