
.wrapper  {
 margin-left: 90px;

 background-color:#f2f1f0;
}

.aboutMong h1
{
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutMongContent {
    /* text-align: center; */
    border-radius: 25px;
    padding: 20px; 
    width: 90%;
    height:auto;  
    margin: auto;
    margin-top: 10px;
  }

.aboutMongContent p
{
  text-align: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.aboutMongContent h2{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;

  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  /* text-align: center; */
  align-items: center;

}