<app-navigation-bar></app-navigation-bar>

<div>
  <div class="aboutMongContent">
    <mat-accordion>
      <mat-expansion-panel hideToggle style="margin-bottom: 0px">
        <mat-expansion-panel-header>
          <mat-panel-title> Home </mat-panel-title>
          <mat-panel-description> About our awesome ONG </mat-panel-description>
        </mat-expansion-panel-header>
        <link
          rel="stylesheet"
          href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <div class="w3-row-padding w3-margin-top">
          <div class="w3-third" style="width: 31%">
            <div class="w3-card">
             
              <div class="w3-container">
                <h5>EC</h5>
              </div>
            </div>
          </div>

          <div class="w3-third" style="width: 32%">
            <div class="w3-card">
              
              <div class="w3-container">
                <h5>Neversea</h5>
              </div>
            </div>
          </div>

          <div class="w3-third" style="width: 32%">
            <div class="w3-card">
              
              <div class="w3-container">
                <h5>Pretty Bracelets</h5>
              </div>
            </div>
          </div>

          <div class="w3-third" style="width: 31%; padding-top: 10px">
            <div class="w3-card">
             
              <div class="w3-container">
                <h5>Contemplating Life Choices</h5>
              </div>
            </div>
          </div>

          <div class="w3-third" style="width: 32%; padding-top: 10px">
            <div class="w3-card">
             
              <div class="w3-container">
                <h5>Coachella</h5>
              </div>
            </div>
          </div>

          <div class="w3-third" style="width: 32%; padding-top: 10px">
            <div class="w3-card">
             
              <div class="w3-container">
                <h5>Burning Man</h5>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="aboutMongContent">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Volunteers </mat-panel-title>
          <mat-panel-description>
            About volunteers page functionality
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p style="color: black">This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="aboutMongContent">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Tasks </mat-panel-title>
          <mat-panel-description>
            About tasks page functionality
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p style="color: black">This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
