<app-navigation-bar></app-navigation-bar>

<div class="wrapper">
  <div class="grid-container">
    <div class="grid-item">
      <img
        src="assets/fotografii/5853_without_background.png"
        width="320"
        height="200"
        style="margin-left: 40px"
      />
    </div>
    <div class="grid-item">
      <p
        style="
          margin-left: 260px;
          margin-top: 60px;
          font-family: Georgia, serif;
          font-size: xx-large;
        "
      >
        Avizier
      </p>
    </div>
  </div>

  <div class="aboutMongContent">
    <mat-accordion>
      <mat-expansion-panel hideToggle style="margin-bottom: 0px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img
              src="assets/images/pin1.png"
              alt="Girl in a jacket"
              width="30"
              height="25"
              style="margin-right: 25px"
            />
            Important
          </mat-panel-title>
          <mat-panel-description
            >Descriere disciplinelor optionale anul III CTI si anul IV V + CTI
          </mat-panel-description>
        </mat-expansion-panel-header>
        <link
          rel="stylesheet"
          href="https://www.w3schools.com/w3css/4/w3.css"
        />
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="aboutMongContent">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><img
              src="assets/images/pin1.png"
              alt="Girl in a jacket"
              width="30"
              height="25"
              style="margin-right: 25px"
            />
            Important
          </mat-panel-title>
          <mat-panel-description>
            Arii tematice orientative pentru proiecte de diploma in anul
            universittar 2020 - 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p style="color: black; font-family: Georgia, serif; font-size: large">
          În atenția studenților care vor fi în anul IV, programul de studii
          Calculatoare, în anul universitar 2020-2021 În anul 4 semestrul al
          II-lea sunt trei pachete de opționale din care trebuie să alegeți câte
          o disciplină. Acestea sunt: Pachetul 1: Circuite VLSI --- ș.l. Calin
          Monor Sisteme de intrare-ieșire --- conf. Mircea Hulea Pachetul 2:
          Criptografie și securitatea datelor --- prof. Petru Cascaval
          Proiectarea bazelor de date --- ș.l. Cristian Aflori Pachetul 3:
          Dispozitive de calcul mobile --- ș.l. Iulian Petrila Regăsirea
          informației --- ș.l. Alexandru Archip Informațiile referitoare la
          conținutul acestor discipline vor fi publicate în ziua de luni,
          28.09.2020. Termenul de alegere a celor două opționale prin
          completarea chestionarului de pe Moodle este marți, 29.09.2020, la ora
          12.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="aboutMongContent">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><img
              src="assets/images/medal.png"
              alt="Girl in a jacket"
              width="30"
              height="30"
              style="margin-right: 25px"
            />
            Burse
          </mat-panel-title>
          <mat-panel-description style="margin-left: 0px">
            Informatii despre burse 2020-2021 semestrul II
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p style="color: black; font-family: Georgia, serif; font-size: large">
          Informațiile cu privire la acordarea burselor 2020-2021 se găsesc la
          adresa https://ac.tuiasi.ro/studenti/burse/. Urmăriți pagina
          respectivă în perioada următoare pentru precizări suplimentare.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="aboutMongContent">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><img
              src="assets/images/exam.png"
              alt="Girl in a jacket"
              width="40"
              height="40"
              style="margin-right: 25px"
            />
            Examene
          </mat-panel-title>
          <mat-panel-description>
            Observatii privind desfasurarea re-examinarilor din perioada 16-18
            septembrie
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p style="color: black; font-family: Georgia, serif; font-size: large">
          Observatii privind desfasurarea re-examinarilor din perioada 16-18
          septembrie: - acceptul pentru re-examinare se obtine dupa transmiterea
          dovezii de achitare a taxei; - re-examinarea se desfasoara doar in
          intervalul orar stabilit de titularul de disciplina.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  
</div>
