<app-navigation-bar></app-navigation-bar>
<div class="contaier">
  <mat-tab-group
    mat-align-tabs="center"
    (selectedTabChange)="getYearDiscipline($event)"
    
  >
    <div *ngFor="let year of years">
      <mat-tab label="An {{ year }}">
        <mat-tab-group
          mat-align-tabs="center"
          (selectedTabChange)="getDisciplinesForSemester($event)"
        >
          <mat-tab
            label="Semestrul 2"
            (click)="getDisciplinesForSemester($event)"
            ><link
              rel="stylesheet"
              href="https://www.w3schools.com/w3css/4/w3.css"
            />
            <div class="wrapper">
              <div *ngFor="let dis of discipline">
                <div class="w3-third" style="width: 30%">
                  <div
                    class="w3-card"
                    style="width: 80%; margin: 20px; padding: 0px"
                  >
                    <a [routerLink]="['/university/course/', dis.nume]"
                      ><img
                        src="assets/images/online-learning2.png"
                        style="
                          width: 80%;
                          margin: 20px;
                          padding: 0px;
                          margin-left: 3px;
                        "
                    /></a>
                    <div class="w3-container">
                      <h5>{{ dis.nume }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div></mat-tab
          >
          <mat-tab
            label="Semestrul 1"
            (selectedTabChange)="getDisciplinesForSemester($event)"
          >
            <link
              rel="stylesheet"
              href="https://www.w3schools.com/w3css/4/w3.css"
            />
            <div class="wrapper">
              <div *ngFor="let dis of discipline">
                <div
                  class="w3-third"
                  style="width: 30%"
                  routerLink="/university/course"
                >
                  <div
                    class="w3-card"
                    style="width: 80%; margin: 20px; padding: 0px"
                  >
                    <a [routerLink]="['/university/course/', dis.nume]"
                      ><img
                        src="assets/images/online-learning2.png"
                        style="
                          width: 80%;
                          margin: 20px;
                          padding: 0px;
                          margin-left: 3px;
                        "
                    /></a>
                    <div class="w3-container">
                      <h5>{{ dis.nume }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>
