.curs {
    margin-left:10rem;
  
  }
  
.container{
    margin-left: 5rem;
    margin-right: 5rem;

}

.sendEmail{
    margin-left: 150px;

}

a {
    color: black;
}


.uploadButon{
    margin-left: 65rem;
}

.wrapper {
    margin-top: 3%;
    margin-left: 10%;
  
}

.leftSpace {
    margin-left: 0.5rem;
}


        .mat-tab-group.vertical {
            flex-direction: row;
        }
        .mat-tab-group.horizontal {
            flex-direction: column;
        }
        .vertical .mat-tab-labels {
            flex-direction: column;
        }
        .horizontal .mat-tab-labels {
            flex-direction: row;
        }

.wrapper-glob{
    margin-left: 90px;
}

.grid-container {
    margin-top:20px;
    margin-left:150px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    margin-right:100px;
  }

  html{
      height:100%;
  }

  .spinner{
    margin-top:400px;
      margin-left:40%;
  }

  .containerNotare{
    margin-left: 15rem;
    margin-right: 5rem;

  }

  #notare {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #notare td, #notare th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #notare tr:nth-child(even){background-color: #f2f2f2;}
  
  #notare tr:hover {background-color: #ddd;}
  
  #notare th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #77bda3;
    color: white;
  }

  .edit:hover>.editIcon {
      cursor:pointer;
    visibility: visible;
}

.editIcon {
  visibility: hidden;
}