<button
  mat-raised-button
  id="export"
  (click)="exporter.exportTable('csv', { fileName: 'situatie_prezente' })"
  class="export"
>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    class="imagineExport"
    >save_alt</mat-icon
  >EXPORT
</button>

<div class="mat-elevation-z8 wrapper">
  <table
    mat-table
    matTableExporter
    class="full-width-table"
    #exporter="matTableExporter"
    matSort
    aria-label="Elements"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="laborator">
      <th mat-header-cell *matHeaderCellDef>
        <div style="font-size: 15px; margin-top: 10px">Laborator</div>
        <div>
          <mat-form-field class="form-field" color="mat-teal">
            <mat-label>Filter</mat-label>
            <input
              id="filtrare"
              matInput
              (keyup)="applyLabFilter($event.target.value)"
              #input
            />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.laborator }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div style="font-size: 15px; margin-top: 10px">Data</div>
        <div>
          <mat-form-field class="form-field" color="mat-teal">
            <mat-label>Filter</mat-label>
            <input
              id="filtrare"
              matInput
              (keyup)="applyDataFilter($event.target.value)"
              #input
            />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.data }}</td>
    </ng-container>

    <!-- Prezenta Column -->
    <ng-container matColumnDef="prezenta">
      <th mat-header-cell *matHeaderCellDef>
        <div style="font-size: 15px; margin-top: 10px; line-break: normal">
          Prezenta
        </div>

        <div>
          <mat-form-field class="form-field" color="mat-teal">
            <mat-label>Filter</mat-label>
            <input
              id="filtrare"
              matInput
              (keyup)="applyFilter($event.target.value)"
              #input
            />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.prezenta }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
  >
  </mat-paginator>
</div>
