.first {
    margin: 400px;
}

.wrapper {
    margin-top: 80px;
    margin-left: 110px;
    margin-right: 40px;

}


.pointer {
  size: 40px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}


