.full-width-table {
  width: 100%;
}

.wrapper{
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;

}

.edit{
  cursor: pointer;

}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}
.create{
  margin-left:20px;
  cursor: pointer;
}

.imagineExport{
  margin-right:10px;
}